$navbarHeight: 56px;
$green-color: #cb3f5f;
$accent-color: #000000;

$red-color: #ce2e2e;
$side-bar-purple: #9a2eb1;
$purple-color: rgb(119, 29, 152);
$background-color-black: #292b2c;

$breakpoint-hide-header: 550px;

@mixin light-scrollbar() {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		background-color: rgba(0,0,0,0.1);
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.3);
	}
}
