body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#app {
	font-family: 'Roboto', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}