body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#toasted-container {
	.coinblesk-toast {
		cursor: default;
		cursor: help;

		.fa {
			margin-right: 10px;
		}
		.payload {
			text-shadow: 1px 1px rgba(0,0,0,0.1);
		}

		&.warning.toasted.primary {
			background-color: #ec8e00;
		}
	}
}
